<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se2.bopit">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BopIt">

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.GamemodeSelectActivity" />
        <activity android:name=".ui.WinLossActivity" />
        <activity android:name=".ui.GameActivity" />

        <service
            android:name=".domain.services.BackgroundSoundService"
            android:enabled="true" />
        <service
            android:name=".domain.services.BackgroundServiceAccelerometer"
            android:enabled="true"
            android:permission="android.hardware.sensor.accelerometer">
            <intent-filter>
                <action android:name="com.se2.bopit.ui.games.SHAKE" />
            </intent-filter>
        </service>
    </application>

</manifest>