<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se2.bopit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobopitmix"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logobopitmix"
        android:supportsRtl="true"
        android:theme="@style/Theme.BopIt">
        <activity android:name=".ui.LobbyHostActivity"></activity>
        <activity android:name=".ui.HostJoinActivity" />
        <activity android:name=".ui.LobbyJoinActivity" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.CustomizeGameRulesActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.GamemodeSelectActivity" />
        <activity android:name=".ui.WinLossActivity" />
        <activity android:name=".ui.GameActivity" />
        <activity android:name=".ui.DifficultyActivity"/>
        <activity android:name=".ui.OverallAchievementsActivity"/>
        <activity android:name=".ui.MinigameAchievementsActivity"/>
        <activity android:name=".ui.AchievementsSelectActivity"/>

        <service
            android:name=".domain.services.BackgroundSoundService"
            android:enabled="true" />
        <service
            android:name=".domain.services.BackgroundServiceAccelerometer"
            android:enabled="true"
            android:permission="android.hardware.sensor.accelerometer">
            <intent-filter>
                <action android:name="com.se2.bopit.ui.games.SHAKE" />
            </intent-filter>
        </service>
    </application>

</manifest>